
*{
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    border: 1px solid #333;
    padding: 10px;
    justify-content: center;
}

.post {
    margin: 5px;
    width: 30%;
    border: 1px solid #333;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.post h2{
    padding-left: 10px;
}


.post p{
    padding: 15px 10px;
}

.post button {
    width: 40%;
    margin: 5px auto;
    background-color: royalblue;
    color: white;
    padding: 5px;
    border-radius: 1  px;
}

@media screen and (max-width:1023px) {
    .post{
        width: 45%;
    }
}


@media screen and (max-width:768px) {
    .post{
        width: 100%;
    }
}
