main {
    display: block;
    width: 60%;
    position: absolute ;
    left: 20%;

  } 
  
.logo {
    padding: 15px ;
    border: 1px solid black;
    margin-left: 10px;
  }


button, select {
    background-color: steelblue;
    color: white;
    padding: 15px ;
    border-radius: 15px;
    margin: 0 5px;
  } 

select{
    text-align: center;
  } 


.layer,.content {
    display: flex;
    width: 100%;
    margin: 15px ;
    padding: 5px ;
    border: 1px solid black;
  }

input {
    padding: 10px;
    border: 1px solid silver;
    color: silver;
    border-radius: 10px 0 0 10px;
  }

.submit {
    color: black;
    font-weight: bold;
    background-color: skyblue;
    margin: 0;
    margin-right: 5px;
    padding-left: 15px;
    border: 1px solid;
    align-content: center;
    border-radius: 0 10px 10px 0;
  }
  
@media screen and (min-width: 767px){

.sign-up {
    position: absolute;
    right: 160px;
    } 
     
.sign-in {
    position: absolute;
    right: 10px;
    } 

button, select {
    width: 120px;
    height: 50px;
}

input {   
    height: 28px;
    position: absolute;
    right: 60px;
  }

.submit {  
    width: 50px;
    position: absolute;
    right: 10px;
  }  
}
@media screen and (max-width: 767px){
    
.layer {
        display: flex;
        width: 100%;
        text-align: center;
        border: 0;
    }

.sign-up,.sign-in,.logo {
    position: flex;
    display: flex;
    border: 1px solid black;
    background-color: white;
    color: black;
    width:33%;
    text-align: center;
    border-radius: 0px;
    } 

.content{
    border: 0;
    display:block;
    width:100%;
}    

.content button, .content select{
    width:100%;
}
    
.search{
    display:flex;
    width:100%;
}

input{
    width:900%;
}

  
}